# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Jupyter
*.log

# macOS
.DS_Store

# Data
data/raw/
data/processed/

# Model artifacts
models/

# Environment variables
.env

# Kaggle
kaggle.json
